* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 10rem 0;
}

form input {
  width: 100%;
  padding: 1rem;
  display: block;
}

form button  {
  padding: .5rem .9rem;
  background: red;
  color: white;
  font-weight: bold;
  display: block;
}

.form-input {
  padding: 2rem 8%;
}